*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p{
    text-overflow: break-word;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: hsl(229, 57%, 11%);
    font-size: 14px;
}

.container{
    display: flex;
    align-items: end;
    justify-items: center;
    max-width: 60rem;
    
}

.item{
    color: white;
    margin: 1rem;
    background-color: #1E2C69;
    padding: 2.5rem;
}

#box-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 8rem;
    border-top-right-radius: 100px;
    height: 12.5rem;
    max-width: 25rem;
}

.three{
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    gap: 0 1rem;
}

#mid{
    margin-left: 0px 12px;
}

.link-icon{
    padding: 12px;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 3rem;
}

#box-2{
    width: 35rem;
}

#scroll-bar{
    height: 15px;
    border-radius: 25px;
    background-image: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));    
    margin: 10px 0px;
}

.range{
    display: flex;
    justify-content: space-between;
}

.gb{
    opacity: 0.7;
}

#used_gb{
    font-weight: 600;
    opacity: 1 !important;
    color: white !important;
}